@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Base slider */
.price-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
  background: transparent;
}

.price-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.price-thumb::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}
